body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content {
    padding: 2rem;
}
.content:after {
    content: "";
    display: table;
    clear: both;
}

.header-title-container {
    text-align: center;
    margin-bottom: 1rem;
}

.header-title {
    color: #1f2937; /* Adjust the color to match the design */
    font-size: 24px; /* Adjust the size to match the design */
    font-weight: bold;
    margin: 0;
    padding: 0.5rem 0; /* Adjust the padding to match the design */
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.navbar a {
    margin: 0 1rem;
    text-decoration: none;
    color: #1f2937;
    font-weight: 600;
}

.text-block {
    color: #6b7280;
    margin-bottom: 1rem;
}
.heritage-image {
    float: left; /* This makes the text wrap around the image on the right */
    margin-right: 2rem; /* Adds space between the image and the text */
    margin-bottom: 1rem; /* Adds space below the image */
    width: 40%; /* Adjust width as necessary */
    height: auto; /* Maintain aspect ratio */
}

#map-container {
    float: right;
    width: 55%;
    height: 600px;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

#map {
    height: 100%;
    width: 100%;
}

.explore-button {
    display: inline-block; /* Makes it a block-level element but allows width and height */
    background-color: #1f2937; /* Button background color */
    color: white; /* Text color */
    text-align: center; /* Centers text within the button */
    padding: 1rem 2rem; /* Button padding */
    margin-top: 2rem; /* Space above the button */
    text-decoration: none; /* Removes underline from link */
    font-weight: bold; /* Makes the text bold */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    clear: both; /* This will make sure the button is below floated elements */
}
.button-container {
    display: flex; /* Use flexbox to center the button */
    justify-content: center; /* Center the button horizontally */
    margin-top: 2rem; /* Add some space above the button */
    margin-bottom: 2rem; /* Add some space below the button */
}
.explore-button:hover {
    background-color: #374151; /* Slightly darker on hover */
}
.tabs {
    margin-bottom: 1rem;
    text-align: center;
}

.tab {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #ddd;
}

.tab.active {
    background-color: #ccc;
}

#list-container {
    padding: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    height: 600px; /* same as map container height for consistency */
    overflow: auto; /* in case the list is long */
}